<div id="about">
    <div class="about">
        <div id="sweets" class="Text_name">
            <div  class="Text_style4"> About!</div>
        </div>

        <div class="aboutcontent">
            <div class="content glass">
                <p>A food delivery management software is also known as a food delivery software and in terms of a simple definition, it is an aggregator of a restaurant's third party delivery platforms. It offers a multitude of tools and features that are helpful in providing automation and efficiency to your business.</p>
                <a href="/#manu" rel="noopener noreferrer"><button type="button" class="btn btn-success">Oder Now > </button></a>
              </div>
              <div class="oder-img">
                  <img src="/Img/oder.png" alt="oder"  height="400px">
              </div>
        </div>
    </div>
</div>