<div id="about">
    <div class="about">
        <div id="sweets" class="Text_name">
            <div  class="Text_style4"> About!</div>
        </div>

        <div class="aboutcontent">
            <div class="content glass">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis quas veniam qui officiis quae doloremque hic voluptatibus. Quia autem ipsum eum velit. Quam natus architecto, ipsa quis voluptatibus illo corporis!</p>
                <a href="/#manu" rel="noopener noreferrer"><button type="button" class="btn btn-success">Oder Now > </button></a>
              </div>
              <div class="oder-img">
                  <img src="/Img/oder.png" alt="oder"  height="400px">
              </div>
        </div>
    </div>
</div>