<footer class=" bodyBg" id="Contact">


  <section class="contact-sec sec-pad">
    <div class="container glass">
      <div class="row">
        <div class="col-md-6 ">
          <div class="contact-detail">
            <h1 class="section-title">
              <div id="sweets" class="Text_name">
                <div class="Text_style8"> Contact us!</div>
              </div>
            </h1>

            <ul class="contact-ul">
              <li><i class="fa fa-location-dot" style="background-color: white;"></i> Seacom Engineering Collage, Howrah </li>

              <li>
                <a href="tel: 8927876161"></a>
                <i class="fa fa-phone" style="background-color: white;"></i>
                <b>+91 8927876161</b></a>
              </li>

              <li>
                <i class="fa-solid fa-envelope" style="background-color: white;"></i>
                <a href="mailto:pardeepkumar4bjp@gmail.com" ><b> subhajitn851@gmail.com </b></a>
              </li>
            </ul>

            <span>
              <a href="https://www.facebook.com/subhajitnath0"  target="_blank" rel="noopener noreferrer" class="fb"><i class="fa-brands fa-facebook" style="color: white;" ></i></a>
              <a href="https://www.instagram.com/subhajitnathsubhajitnath/" target="_blank" rel="noopener noreferrer"  class="insta"><i class="fa-brands fa-instagram"  style="color: white;"></i></a>
            </span>
          </div>
        </div>

        <div class="col-md-6 ">
          <form action="#" class="contFrm" method="POST">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" name="name" placeholder="Your Name" class="inptFld" required />
              </div>

              <div class="col-sm-6">
                <input type="email" name="email" placeholder="Email Address" class="inptFld" required />
              </div>

              <div class="col-sm-6">
                <input type="tel" name="phone" placeholder="Phone Number" class="inptFld" required />
              </div>

              <div class="col-sm-6">
                <input type="text" name="sub" placeholder="Subject" class="inptFld" required />
              </div>

              <div class="col-12">
                <textarea class="inptFld" rows="" cols="" placeholder="Your Message..." required></textarea>
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-outline-light custom">
                  <div class="amount-btn">
                    Submit
                  </div>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div style="text-align: center; margin-top: 20px;">
        <p> Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved |  subhajitn851@gmail.com
        </p>
      </div>

    </div>
  </section>



</footer>

</body>

<script>

  function nav() {

    var a = document.getElementById("manubutan");
    var img = document.getElementById("img");

    if (a.className === 'manubutan') {

      a.className = 'manubutan show';
      img.className = 'logo show';

    } else if (a.className === 'manubutan show') {
      a.className = 'manubutan'
      img.className = 'logo';
    }
  }


  function Star(rat) {
    var i = 0;

    while (i < 5) {
      i++;
      document.getElementById(`Star${(i)}`).className = `fa fa-star`;

      console.log(`Star${(i)}`)
    }
    i = 0;

    while (i < rat) {
      i++;
      document.getElementById(`Star${(i)}`).className = `fa fa-star star`;

      console.log(`Star${(i)}`)
    }

  };



  function increaseCount(a, b) {
    var input = b.previousElementSibling;
    var value = parseInt(input.value, 5);
    value = isNaN(value) ? 0 : value;
    value++;
    input.value = value;
  }
  function decreaseCount(a, b) {
    var input = b.nextElementSibling;
    var value = parseInt(input.value, 0);
    if (value > 0) {
      value = isNaN(value) ? 5 : value;
      value--;
      input.value = value;
    }
  }


  document.getElementById("Project").innerHTML = a;

$(document).ready(function(){

$("a").on('click', function(event) {

if (this.hash !== "") {
 
  event.preventDefault();      
  var hash = this.hash;

  $('html, body').animate({
    scrollTop: $(hash).offset().top
  }, 3500, function(){


    window.location.hash = hash;
  });
} 
});
});



</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>