<!DOCTYPE html>
<html lang="en">

<head>
  <title>Anime</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/buyNow.css">
    <link rel="stylesheet" href="/css/about.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/FoodCad.css">
  <link rel="stylesheet" href="/css/Food.css">
  <link rel="stylesheet" href="/css/Nav.css">
  
  






  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Web site created using create-react-app" />
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/c070ac5a0a.js" crossorigin="anonymous"></script>

</head>

<body>
  <nav class="nav-bar">

    <div id="img" class="logo" onclick="nav()">
      <img src="/Img/icon_manu.png" alt="Manu">
    </div>
    <div class="navSub">
      <div class="brand">
        <a href="#"> Navebar</a>
      </div>



      <ul id="manubutan" class="manubutan">
        <li class="naveItem" onclick="nav()"> <a href="/"> Home </a></li>
        <li class="naveItem" onclick="nav()"> <a href="/#about"> About </a></li>
        <li class="naveItem" onclick="nav()"> <a href="/#login"> login </a></li>
        <li class="naveItem" > <a class=" dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><a href="/#sweets" onclick="nav()" class="dropdown-item" type="button">Sweets</a ></li>
          <li><a href="/#mugha" onclick="nav()" class="dropdown-item" type="button">Mugha</a ></li>
          <li><a href="/#food" onclick="nav()" class="dropdown-item" type="button">Main food</a ></li>
            <li><a href="/#curry" onclick="nav()" class="dropdown-item" type="button">Curry</a ></li>
        </ul>
        <li class="naveItem" onclick="nav()"> <a href="/#Contact"> Contact </a></li>
      
    </li>
      </ul>
    </div>
  </nav>