<%- include('header') %>
<div>
    
        <div class="buy">


            <div class="bill glass">
                <h3 class="color-m">
                    <i class="fa fa-user-plus" style="font-size: 50px; padding: 10px;"></i>
                    <br>
                    mdSignup 
                    <br>
                    <br>
                </h3>

                <form action="/signup" method="post">

                    <div class="Input-cad Input-login">
                        <i class="fa fa-user fa-lg"></i>
                        <input type="text" class="input" name="name" placeholder="Name" required>
                    </div>
                    <div class="Input-cad Input-login">
                        <i class="fa fa-address-card" aria-hidden="true"></i>
                        <input type="text" class="input" name="Address" placeholder="Address" required>
                    </div>
                    <div class="Input-login">
                        <i class="fa fa-location-dot"></i>
                        <input  class="input" name="Pin" id="exampleFormControlInput1"
                        placeholder="PIN" type="number" maxlength="10" pattern="\d{10}"
                        title="Please enter exactly 10 digits" required>
                    </div>
                    <div class="Input-login">
                        <i class="fa-solid fa-phone"></i>
                        <input  class="input" name="number" id="exampleFormControlInput1"
                        placeholder="Mobile Number" type="text" maxlength="10" pattern="\d{10}"
                        title="Please enter exactly 10 digits" required>
                    </div>


                <button type="submit" class="btn btn-outline-light custom">
                    <div class="amount-btn">
                        Submit
                    </div>
                </button>
                </form>
            </div>
        </div>

</div>
<%- include('footer') %>